{% extends 'meal_plans/base.html' %}

{% block content %}

<p>Plan: {{ plan.name }}</p>

<p>Meals</p>

<ul>
    {% for meal in meals %}
        <li>
            <p>{{ meal.name }}: </p>
            {% for food in foods %}
                <li>
                    <p> {{food.description}} </p>
                </li>
            {% empty %}
                <li>There are no foods for this meal yet</li>
            {% endfor %}
        </li>
    {% empty %}
        <li>There are no meals for this plan yet</li>
    {% endfor %}
</ul>

{% endblock content %}